*{
  box-sizing: border-box;
}

body{
  text-align: center;
  background-image: url(../Hangman.png);
  background-size:cover;
}
h1{
  font-size: 50px;
  margin-top: 172px;
  padding-left: 250px;
}
#text{
  font-size: 30px;
}
#guess, #restart{
  font-size: 30px;
}
.word-space{
  font-size: 30px;
  padding-right: 30px;
  display: inline-block;
}

.your-word {
  height: 20px;
  font-size: 30px;
  display: inline-block;
}

.your-word > span {
  height: 20px;
  width: 20px;
  border-bottom: solid 2px black;
  padding-bottom: 2px;
  content: "";
  display: inline-block;
  margin-right: 10px;
}
.your-word > span:last-child {
  margin-right: 0;
}

.guesses{
  font-size: 30px;
}
.number-of-guesses{
  font-size: 30px;
}
