*{
  box-sizing: border-box;
}

body{
  background-color: orange;
  text-align: center;
}
h1{
  font-size: 70px;
  margin: 0 auto;
}
#text{
  font-size: 30px;
}
#guess, #restart{
  font-size: 30px;
}
.word-space{
  font-size: 30px;
  padding-right: 30px;
  display: inline-block;
}

.your-word {
  height: 20px;
  display: inline-block;
}

.your-word > span {
  height: 20px;
  width: 20px;
  border-bottom: solid 2px black;
  padding-bottom: 2px;
  content: "";
  display: inline-block;
  margin-right: 10px;
}


.guesses{
  font-size: 30px;
}
.number-of-guesses{
  font-size: 30px;
}
