*{
  box-sizing: border-box;
}

body{
  background-color: orange;
  text-align: center;
}
h1{
  font-size: 70px;
}
#text{
  font-size: 30px;
}
#guess, #restart{
  font-size: 30px;
}
.word-space{
  font-size: 30px;
  /*margin: 0 auto;*/
  padding-right: 340px;
}
.your-word{

}

.guesses{
  font-size: 30px;
}
.number-of-guesses{
  font-size: 30px;
}
